.todo {
  height: 100vh;

  &__row {
    flex-flow: row;
  }

  &__add {
    margin: 16px 0;
    width: 100%;
  }

  &__list {
    height: calc(100vh - 112px);
  }

  &__content {
    height: calc(100vh - 32px);
    margin: 16px 0;
    // padding: 16px;
  }

  &__list,
  &__content {
    overflow: hidden auto;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 8px;
  }

  &__link {
    padding: 10px 14px;
    border: 0;
    border-radius: 0 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__linkName {
    cursor: pointer;
    font-size: 12px;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);

    &.done {
      background-color: #efefef;

      .todo__itemText,
      .todo__itemCheckbox,
      .todo__itemDelete {
        opacity: 0.6;
      }
    }
  }

  &__itemCheckbox,
  &__itemDelete {
    cursor: pointer;
  }

  &__itemText {
    flex: 1 1 auto;
  }

  &__new {
    padding: 8px 16px;
  }
}
