@import 'bootstrap/dist/css/bootstrap.min.css';
@import './todo';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


p.small {
  font-size: 12px;
}

.modal-header {
  border-bottom: 0
}

.modal-footer {
  border-top: 0
}

label {
  cursor: pointer;
}